{% extends 'secondsite/base.html.twig' %}
{% block title %}Services{% endblock %}
{% block body %}:
    <style>
        .row h3{
            background-color: rgba(65,105,225) !important;
            color: #FFFFFF;
        }
    </style>
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 " >
                <h3 >
                    <img src="{{ asset('css_2/captures-site/site-internet.jpg') }}" alt="">
                    Site/app sur mesure
                </h3>
                <p>
                    Nous partons de zéro pour construire le projet qu’il vous faut et avec vous. Nous avançons ensemble
                    pour vous aider sur des questions budgetaires et d’ordre technique.
                    Pour vous guider sur les téchnologiques que nous utilisons, voici une liste non-exhautive de ces
                    techno:
                    <ol class="">
                        <li><strong class="bg-success">Développement Web (front & back)</strong></li>
                        <li><strong class="bg-warning">Développement de Sites E-Commerce</strong></li>
                        <li><strong class="bg-danger">Intégration</strong></li>
                    </ol>
                </p>
                <hr>
            </div>
            <div class="col-lg-6 " >
                <h3>
                <img src="{{ asset('css_2/captures-site/mob.jpg') }}" alt="">
                     Application-mobile
                </h3>
                <p>
                    Nos équipes réalisent des applications mobiles qui sortent du lot pour séduire un maximum
                    d’utilisateurs : développement d’application sportive, m-commerce, gestion de chantier, jeu,
                    sondages, street marketing, tutos.

                    Plateformes : Androïd, iOS, Windows Phone

                    Technologies : Androïd & iOS natif, Ionic, AngularJS, NodeJS

                    Fonctionnalités : géolocalisation, achat in-app, QR code, notifications Push, calendrier, caméra

                <ol>
                    <li><strong class="bg-success">Développement d’Applications Mobile</strong></li>
                    <li><strong class="bg-warning">Développement d'Applications Reponsive</strong></li>
                    <li><strong class="bg-danger">Développement de sites Resiponives</strong></li>
                </ol>
                </p>
                 <hr>
            </div>
            <div class="col-lg-6 " >
                <h3>
                    <img src="{{ asset('css_2/captures-site/design.jpg') }}" alt="">
                    Web Design
                </h3>
                <p>
                    Grâce à des ateliers UX/UI, nous challengeons les besoins et les expérérience de vos utilisateurs afin
                    de vous proposer des designs web & mobile percutants.
                    En plus de cela, chez Super-Agence-Digitale, nos équipes créatives veillent activement pour mettre
                    en lumière les dernières tendances graphiques sur vos plateformes digitales.
                   
                <ol>
                    <li><strong class="bg-success">Web Design</strong></li>
                    <li><strong class="bg-warning">Maquettes</strong></li>
                    <li><strong class="bg-danger">Etudes & Conseils</strong></li>
                </ol>
                </p>
                 <hr>
            </div>
            <div class="col-lg-6 " >
                <h3>
                    <img src="{{ asset('css_2/captures-site/seo.png') }}" alt="">
                    Référencement
                </h3>
                <p id="dev_web">
                    Le positionnement de votre site dans les moteurs de recherche dépend essentiellement de l'évaluation
                    du contenu de vos pages Web par les moteurs de recherche. Si la lecture de votre contenu est entravé
                    de quelque façon que ce soit, vos performances organiques peuvent être affectées de manière
                    significative.                   
                <ol>
                    <li><strong class="bg-success">Analyser & optimisation</strong></li>
                    <li><strong class="bg-warning">Audit Seo</strong></li>
                    <li><strong class="bg-danger">Stratégie Editoriale</strong></li>
                </ol>
                </p>
                 <hr>
            </div>
            <div class="col-lg-6 " >
                <h3>
                    <img src="{{ asset('css_2/captures-site/refonte.png') }}" alt="">
                    Refonte de sites existants
                </h3>
                <p>
                <ul class="text-justify">
                    <li>Un site web qui date ou qui ne valorise pas l’entreprise propriétaire</li>
                    <li>Un site qui ne respecte pas les normes réelles d’internet</li>
                    <li>Un site internet non innovant ou qui ne convient pas au développement de l’entreprise</li>
                    <li>Besoin d’un site responsive design et d’une visibilité sur mobile</li>
                    <li>Existence d’un site géré avec CMS propriétaire</li>
                    <li>Besoin de plus de fonctions sur le site : partage, news, publicité, etc.</li>
                    <li>Un site non référencé pour les moteurs de recherche et peu visible</li>
                    <li>Un site non sécurisé par SSL et non autorisé à l’installer</li>
                </ul>
                    Tout comme un mécanicien assure l'entretient de vos voitures, motos, vélos,
                    Nous récupérons aussi vos projets/sites en cours ou nécessitant des mises à jours pour assurer
                    leur pérennité dans le temps et face à la concurance.
                    Notre équipe est là pour récupérer l'ancien ancien code de votre/vos site (s)pour continuer leur
                    développement.                
                <ol>
                    <li><strong class="bg-success">Refonte/Mise à jour du site existant</strong></li>
                    <li><strong class="bg-warning">Intégration Continue</strong></li>
                    <li><strong class="bg-danger">Rédéploiement</strong></li>
                </ol>
                </p>
                 <hr>
            </div>
            <div class="col-lg-6" >
                <h3>
                    <img src="{{ asset('css_2/captures-site/ux-ui.png') }}" alt="">
                    Expérience-utilsateur (UX-UI)
                </h3>
                <p>
                    Nous accompagnons les entreprises et les services publics dans la compréhension de leurs
                    utilisateurs ainsi que dans la mise en place de stratégies d’innovation.
                    Notre mission consiste à articuler le design, la sociologie et la technologie pour accélérer les
                    projets et leur donner consistance.
                    Notre savoir-faire se caractérise par l’immersion sur le terrain, la conduite d’entretiens
                    semi-directifs, l’animation d’ateliers, le prototypage de solutions et leur implémentation.                   
                <ol>
                    <li><strong class="bg-success">UX-UI</strong></li>
                    <li><strong class="bg-warning">Développement d'Applications Reponsive</strong></li>
                    <li><strong class="bg-danger">Développement de sites Resiponives</strong></li>
                </ol>
                </p>
                 <hr>
            </div>
            <hr>
            <div class="col-lg-6 " >
                <h3>
                    <img src="{{ asset('css_2/captures-site/vitrine.jpg') }}" alt="">
                   Site Vitrine
                </h3>
                <p>
                    Votre entreprise à besoin de bien plus qu'une carte de visite, elle à besoin d'être présente sur internet autant pour se faire connaitre que pour faire connaitre ces services c'est pour cette raison que Super-Agence-Digitale vous vous accompagne dans la conception de votre site vitrine...
                    
                </p>
                 <hr>
            </div>
            <div class="col-lg-6 " >
                <h3>
                    <img style="height: 80px" src="{{ asset('css_2/captures-site/eco.png') }}" alt="">
                   Site E-Commerce
                </h3>
                <p>
                    Vous êtes désireux de faire connaitre votre enseigne sur tout le territoire et ainsi élargir votre clientèle au travers de votre commerce en ligne.
                    en cette période difficile, où vous ne pouvez plus ouvrir votre boutique. Vous optez pour le click & collecte qui sera demain votre nouveau moyen de distribution auprès de votre clientèle de proximité.
                 </p>
                  <hr>
            </div>

        </div>
    </div>
{% endblock %}
