{% extends "base.html.twig" %}
{% block title %}Update-Password{% endblock %}
{% block body %}
    {% for label, messages in app.flashes %}
        <div class="container mt-5">
            <div class="alert-{{ label }}">
                {% for message in messages %}

                    <p>{{ message | raw}}</p>
                {% endfor %}
            </div>

        </div>

    {% endfor %}
    <div class="container mt-3">
        <p class="h3 text-center text-info">Modification du mot de pasee </p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary rounded-pill">Mettre à jour</button>
    {{ form_end(form) }}
    </div>

{% endblock %}


